/* Animação suave para cards */
.card-service {
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.card-service:hover {
    transform: translateY(-12px);
    background-color: var(--dark-green);
    color: white;
}
